{% extends "menu.html" %}
{% load static %}

{% block titulo %}HIPERTROFIA{% endblock %}


{% block body %}

<div class="container-fluid">
    <br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">FICHA DE TREINO: HIPERTROFIA</th>
    </THEAD>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Exercício</th>
      <th scope="col">Series</th>
      <th scope="col">Repetições</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">Esteira</th>
        <td>5 minutos</td>
        <td>Aquecimento</td>
        </tr>
    <tr>
      <tr>
        <th scope="row">Esteira</th>
        <td>20 minutos</td>
        <td>Caminhada Moderada</td>
        </tr>
    <tr>
      <tr>
        <th scope="row">Esteira</th>
        <td>10 minutos</td>
        <td>Ritmo Mais Forte</td>
        </tr>
    <tr>
      <tr>
        <th scope="row">Esteira</th>
        <td>5 minutos</td>
        <td>Desaceleração</td>
        </tr>
    <tr>
      <tr>
        <th scope="row">Bicicleta</th>
        <td>15-20 minutos</td>
        <td></td>
        </tr>
    <tr>
      <tr>
        <th scope="row">Elíptico</th>
        <td>10-15 minutos</td>
        <td></td>
        </tr>
    <tr>
  </tbody>
</table>


    </div>
{% endblock %}