{% extends "menu.html" %}
{% load static %}

{% block titulo %}CONDICIONAMENTO{% endblock %}


{% block body %}

<!--Leg press — 12 repetições
Supino máquina — 12
Puxador alto — 12
Remada baixa — 12
Desenvolvimento — 12-->
<div class="container-fluid">
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">FICHA DE TREINO: CONDICIONAMENTO</th>
    </THEAD>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Exercício</th>
        <th scope="col">Series</th>
        <th scope="col">Repetições</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">Faça o circuito em sequencia A>B>C>D>E></th>
        <td>4 Ciclos</td>
        <td>Descanso 2 minutos</td>

      </tr>
      <tr>
      <tr>
        <th scope="row">Leg Press</th>
        <td>1</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">Supino Máquina </th>
        <td>1</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">Puxador Alto</th>
        <td>1</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">Remada Baixa</th>
        <td>1</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">Desenvolvimento</th>
        <td>1</td>
        <td>12</td>
      </tr>

    </tbody>
  </table>


</div>
{% endblock %}