{% extends "menu.html" %}
{% load static %}

{% block titulo %}EMAGRECIMENTO{% endblock %}


{% block body %}

<!-- emagrecimento
 Leg press — 3×12–15
Puxador alto — 3×12–15
Supino máquina — 3×12–15
Remada baixa — 3×12–15
Cadeira extensora — 3×15
Tríceps pulley — 3×15
Rosca — 3×15

Depois:
🚶 Esteira — 30–45 min em ritmo moderado.-->
<div class="container-fluid">
    <br>



<table class="table">
  <thead>
    <tr>
      <th scope="col">FICHA DE TREINO: EMAGRECIMENTO</th>
    </THEAD>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Exercício</th>
      <th scope="col">Series</th>
      <th scope="col">Repetições</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">Leg Press</th>
        <td>3</td>      
        <td>12-15</td>
        </tr>
    <tr>
      <th scope="row">Puxador Alto</th>
      <td>3</td>
      <td>12-15</td>
    </tr>
    <tr>
      <th scope="row">Supino Máquina</th>
      <td>3</td>
      <td>12-15</td>
    </tr>
    <tr>
      <th scope="row">Remada Baixa</th>
      <td>3</td>
      <td>12-15</td>
    </tr>
    <tr>
      <th scope="row">Cadeira Extensora</th>
      <td>3</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">Tríceps Pulley</th>
      <td>3</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">Rosca</th>
      <td>3</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">Esteira</th>
      <td>30-45 min</td>
      <td>Ritmo Moderado</td>
    </tr>
  </tbody>
</table>


    </div>
{% endblock %}