{% extends "menu.html" %}
{% load static %}

{% block titulo %}FORÇA{% endblock %}


{% block body %}


<div class="container-fluid">
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">FICHA DE TREINO: FORÇA</th>
    </THEAD>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Exercício</th>
        <th scope="col">Series</th>
        <th scope="col">Repetições</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Supino Reto</th>
        <td>5</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Puxador Alto</th>
        <td>4</td>
        <td>6-8</td>
      </tr>
      <tr>
        <th scope="row">Remada Baixa</th>
        <td>4</td>
        <td>6-8</td>
      </tr>
      <tr>
        <th scope="row">Leg Press</th>
        <td>5</td>
        <td>6-8</td>
      </tr>
      <tr>
        <th scope="row">Desenvolvimento</th>
        <td>4</td>
        <td>6-8</td>
      </tr>
      <tr>
        <th scope="row">Rosca Direta</th>
        <td>3</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">Tríceps Pulley</th>
        <td>3</td>
        <td>8</td>
      </tr>

    </tbody>
  </table>


</div>
{% endblock %}