{% extends "menu.html" %}
{% load static %}

{% block titulo %}HIPERTROFIA{% endblock %}


{% block body %}

<!-- hipertrofia
Puxador alto — 4×8–12
Remada baixa — 3×10–12
Desenvolvimento de ombros — 3×8–12
Leg press — 4×10–15
Mesa flexora — 3×10–15
Rosca direta — 3×10–12
Tríceps pulley — 3×10–12 
-->

<!-- emagrecimento
 Leg press — 3×12–15
Puxador alto — 3×12–15
Supino máquina — 3×12–15
Remada baixa — 3×12–15
Cadeira extensora — 3×15
Tríceps pulley — 3×15
Rosca — 3×15

Depois:
🚶 Esteira — 30–45 min em ritmo moderado.-->
<div class="container-fluid">
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">FICHA DE TREINO: HIPERTROFIA</th>
    </THEAD>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Exercício</th>
        <th scope="col">Series</th>
        <th scope="col">Repetições</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Supino Reto</th>
        <td>4</td>
        <td>8-12</td>
      </tr>
      <tr>
        <th scope="row">Puxador Alto</th>
        <td>4</td>
        <td>8-12</td>
      </tr>
      <tr>
        <th scope="row">Remada Baixa</th>
        <td>3</td>
        <td>10-12</td>
      </tr>
      <tr>
        <th scope="row">Desenvolvimento de Ombros</th>
        <td>3</td>
        <td>8-12</td>
      </tr>
      <tr>
        <th scope="row">Leg Press</th>
        <td>4</td>
        <td>10-15</td>
      </tr>
      <tr>
        <th scope="row">Mesa Flexora</th>
        <td>3</td>
        <td>10-15</td>
      </tr>
      <tr>
        <th scope="row">Rosca Direta</th>
        <td>3</td>
        <td>10-12</td>
      </tr>
      <tr>
        <th scope="row">Tríceps Pulley</th>
        <td>3</td>
        <td>10-12</td>
      </tr>
    </tbody>
  </table>


</div>
{% endblock %}